/* 
 *  Created on : Maya 21, 2016, 5:25:54 PM
 *  Author     : jeffry simpson
 *  Boostrap template styles used as well and marked
 */

  /* -----------   Survey Template Styles -------------------------- */  
  
  .search {
    border: 1px dotted #999;;
    padding: 5px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 10;

    -webkit-appearance: none;
  }
 
    div.bottombrd {border-bottom: 1px solid;}
    div.lsidebrd {border-left: 1px solid;}
    div.rsidebrd {border-right: 1px solid;}
    div.borders {border: 1px solid;}
  
  .col-centered{
    float: none;
    margin: 0 auto;
}

/*used to hide elements on a page */
.peekaboo{ display: none;}

/* Set lightblue background color and 100% height */
.bluebar {
      background-color: lightblue;
      height: 100%;
      padding: 15px;
    }

        /* Set gray background color and 100% height */
.grayband {
      background-color: #f1f1f1;
      height: 45px;
      padding: 10px;
    }
    
    /* Set gray background color and 100% height */
.graybar {
      background-color: #f1f1f1;
      height: 100%;
      padding: 10px;
    }

 .smallpad{padding: 2px;}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.box.content {height: 650px}
    
    
/* Set black background color, white text and some padding */
footer {
      background-color: #555;
      color: white;
      padding: 15px;
   
    }
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

     

  
